<div class="container">
  <div class="row">
    <%= link_to 'New', new_user_path, class: 'pull-right btn btn-default' %> 
    <br>
  </div>
  <div class="row"
    <div class="col-sm-8">
      <table class="table">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Employee #</th>
          <th>Email</th>
          <th>Store Number</th>
          <th><%= icon :pencil %></th>
          <th><%= icon :remove %></th>
        </tr> 
        <tbody>
          <% @users.each do |user| %>  
            <tr>
              <td><%= user.fname %></td>
              <td><%= user.lname %></td>
              <td><%= user.emp_no %></td>
              <td><%= user.email %></td>
              <td><%= user.store_number %></td>
                <% if logged_in? && current_user.admin? %>
                  <td><%= link_to icon(:pencil), edit_user_path(user) %></span></td>
                  <% if user.id != current_user.id %> 
                    <td><%= link_to icon(:remove), user, method: :delete, 
                                          data: { confirm: 'Are you sure?' } %>
                    </td>
                  <% end %>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
