<div class="sales-counts">
  <div class="row">
    <div class="col-sm-8">
      <div class="text-center today-totals">
        <span class="alert h4">Sales: </span>
        <br>
        <span id="today-total-sales" class="alert alert-success h4 today-totals-amount"><%= humanized_money_with_symbol(get_sales_up_down_today) %></span>
      </div>
      <div class="text-center today-totals">
        <span class="alert h4">Labor: </span>
        <br>
        <span id="today-total-labor" class="alert alert-success h4 today-totals-amount">0</span>
      </div>
      <div class="text-center today-totals">
        <span class="alert h4">Waste: </span>
        <br>
        <span id="today-total-waste" class="alert alert-success h4 today-totals-amount"><%= humanized_money_with_symbol(get_total_dollars("any", (@start_date.beginning_of_day + 4.hours)..(@start_date.end_of_day + 4.hours))) %></span>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <%= form_tag(sales_hours_path, :method => 'get') do %>
          <%= date_field :date, nil, value: @start_date.strftime("%F"), class: 'btn btn-default text-center input-date' %>
          <%= submit_tag("Go") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th class="text-center">Time</th>
        <th class="text-center hidden-xs">Projected Sales</th>
        <th class="text-center" width="80px">Actual Sales</th>
        <th class="text-center" width="80px">Sales +/-</th>
        <th class="text-center" width="80px">Actual Labor</th>
        <th class="text-center" width="80px">TTL</th>
        <th class="text-center">Manager In charge</th>
      <thead> 
      <tbody class="text-center">
        <% @sales_hours.each do |s| %>
          <tr>
            <td><%= s.datetime.localtime.strftime("%H:%M") %></td>
            <td class="projected_sales hidden-xs" data-hour="<%= s.id %>">
              <span id="projected_sales_<%= s.id %>"><%= money_without_cents_and_with_symbol(s.projected_sales) %></span></td>
            <td data-hour="<%= s.id %>" data-attr="actual_sales" class="editable">
              <span id="actual_sales_<%= s.id %>" data-hour="<%= s.id %>" class="actual_sales"><%= s.actual_sales unless s.actual_sales.nil? %></span>
            </td>
            <td data-hour="<%= s.id %>"><span id= "sales_accum_<%= s.id %>" class="sales_accum"></span></td>
            <td data-hour="<%= s.id %>" data-attr="actual_vlh" class="editable actual_vlh">
              <span id="actual_vlh_<%= s.id %>" class="actual_vlh"><%= s.actual_vlh unless s.actual_vlh.nil? %></span>
            </td>
            <td data-hour="<%= s.id %>" data-attr="ttl" class="editable ttl"><%= s.ttl unless s.ttl.nil? %></td>
            <td id="user_<%= s.id %>"><%= User.find(s.user_id).fname unless s.user_id.nil? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= modal (render 'sales_hours/upload'), title: 'Upload Projections' %>

