<div class="row">
  <div class="col-sm-8">
    <div class="text-center today-totals">
      <span class="alert h4">Sales: </span>
      <br>
      <span id="today-total-sales" class="alert alert-success h4 today-totals-amount"><%= humanized_money_with_symbol(get_sales_up_down_today) %></span>
    </div>
    <div class="text-center today-totals">
      <span class="alert h4">Labor: </span>
      <br>
      <span id="today-total-labor" class="alert alert-success h4 today-totals-amount"><%= get_labor_up_down_today %></span>
    </div>
    <div class="text-center today-totals">
      <span class="alert h4">Waste: </span>
      <br>
      <span id="today-total-sales" class="alert alert-success h4 today-totals-amount"><%= humanized_money_with_symbol(get_total_dollars("any", (@start_date.beginning_of_day + 4.hours)..(@start_date.end_of_day + 4.hours))) %></span>
    </div>  
  </div>
  <div class="col-sm-4">
    <div class="text-center">
      <%= form_tag(sales_hours_path, :method => 'get') do %>
        <%= date_field :date, nil, value: @start_date.strftime("%F"), class: 'btn btn-default text-center input-date' %>
        <%= submit_tag("Go") %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <th class="text-center">Time</th>
      <th class="text-center hidden-xs">Projected Sales</th>
      <th class="text-center" width="80px">Actual Sales</th>
      <th class="text-center hidden-xs">Projected Labor</th>
      <th class="text-center" width="80px">Actual Labor</th>
      <th class="text-center" width="80px">TTL</th>
      <th class="text-center">Manager In charge</th>
    <thead> 
    <tbody class="text-center">
      <% 
         users = []
         User.where(store_number: current_user.store_number).each do |u|
           users << { u.id => "#{u.fname}" }
         end
         logger.info users.to_json
         submitoptions = 
      %> 
      <% @sales_hours.each do |s| %>
        <tr>
          <td><%= s.datetime.localtime.strftime("%H:%M") %></td>
          <td class="hidden-xs"><%= money_without_cents_and_with_symbol(s.projected_sales) %></td>
          <td><%= editable_field s, :actual_sales, { submitdata: {user_id: "#{current_user.id}"} , type: 'text', width: '70px', style: 'inherit', placeholder: "Edit"} %></td>
          <td class="hidden-xs"><%= s.projected_vlh %></td>
          <td><%= editable_field s, :actual_vlh, { submitdata: {user_id: "#{current_user.id}"} , type: 'text', width: '70px', style: 'inherit', placeholder: "Edit"} %></td>
          <td><%= editable_field s, :ttl, { submitdata: {user_id: "#{current_user.id}"} , type: 'text', width: '70px', style: 'inherit', placeholder: "Edit"} %></td>
          <td><%=  User.find(s.user_id).fname unless s.user_id.nil? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
