<div class="col-sm-6">
  <table class="table">
    <thead>
      <th width="175px"><%= table_name %></th>
      <th>Edit</th>
      <th>Count</th>
      <th>Add</th>
      <th>Total Day</th>
      <th>Total Cost</th>
    </thead>
    <tbody class="sortable">
    <% foods.each do |f| %>
      <tr class="food_item" id="<%= f.id %>" data-sort="<%= f.sort_order %>">
        <td><%= f.name.titleize %></td>
        <td>
          <%= link_to icon(:pencil), edit_food_path(f) %>
          <% if current_user.admin? %>
            <%= link_to icon(:remove), f, method: :delete, 
                data: {confirm: "Are you sure?"} %>
          <% end %>
        </td>
        <td><input class="food_item_count form-control" 
              type="tel" id="food_item_count_<%= f.id %>" 
              data-product_id="<%= f.id %>" value="0"></input></td>
        <td><a id="<%= f.id %>" href="#" class="submit_food_item_count 
              glyphicon glyphicon-plus-sign"></a></td>
        <td><p id="today_count_<%= f.id %>">0</p></td>
        <td><p id="today_cost_<%=f.id %>" data-price="<%= humanized_money(f.price) %>">0</p>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

