<%= link_to button("New"), new_food_path, class: 'pull-right' %>
<table class="table">  
  <tr>
    <th>WRIN</th>
    <th>Name</th>
    <th>Price</th>
    <th>Type:</th>
    <th>Created by:</th>
  </tr>
    <% @foods.each do |f| %>
      <tr>
        <td><%= editable_field f, :wrin, width: '50' %></td>
        <td><%= editable_field f, :name, width: '100' %></td>
        <td><%= editable_field f, :price, width: '50' %></td>
        <td><%= f.food_type.titlecase %></td>
        <td><%= f.user.fname %></td>
        <% if logged_in? && current_user.admin? %>
          <td>
            <%= link_to icon(:remove), f, method: :delete, 
                                          data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr> 
    <% end %>
</table>  
