<div id="success-msg" class="bg-success">
  <p class="text-center">Saved!</p>
</div>
<div class="row">
  <%= link_to button("New Food"), new_food_path, class: 'pull-right' %>
  <%= link_to button("My Counts Today"), foods_my_today_path, class: 'pull-right' %>
  <%= link_to button(icon(:sort)), '#', {class: 'pull-right', id: 'turn_sort_on'} %>
</div>
<div class="row">
</div>
<div class="row">
  <%= render 'foods/table', foods: @breakfast_raw, table_name: "Breakfast Raw" %>
  <%= render 'foods/table', foods: @breakfast_completed, table_name: "Breakfast Completed" %>
</div>
<div class="row">
  <%= render 'foods/table', foods: @lunch_raw, table_name: "Lunch Raw" %>
  <%= render 'foods/table', foods: @lunch_completed, table_name: "Lunch Completed" %>
</div>
<div class="row">
  <div class="text-center">
    <button id="submit" class="btn btn-default" type="button">Save</button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="#" class="btn btn-danger" id="clear_counts">Clear Counts</a>
  </div>
</div>
<div class="row separator">
</div>
<div class="row">
  <div class="col-xs-4">
    <h3 class="text-center">Weekly Leaderboard</h3>
    <table id="week_counts" class="table">
      <thead> <th>Name</th> <th>Total Cost/Week</th> </thead> <tbody id="week_counts_body"> </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <h3 class="text-center">Yesterday's Top Waste</h3>
    <table id="top_yesterday_waste" class="table">
      <thead>
        <th>Food Item</th>
        <th>Total Cost</th>
      </thead>
      <tbody id="top_yesterday_waste_body">
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <h3>Search</h3>
    <%= form_tag(foods_search_path, :method => "get", id: "search-form", class: "form form-group") do %>
      <%= label_tag 'start_date', 'Start Date' %>
      <%= date_field :start_date, nil, :minute_step => 15, class: 'form-control' %>
      <%= label 'end_date', 'End Date' %>
      <%= date_field :end_date, nil, :minute_step => 15, class: 'form-control' %>
      <%= label 'user_id', 'User' %>
      <%= collection_select(:user_id, nil, User.all, :id, :fname, {include_blank: "Any User"}, {class: 'form-control'}) %>
      <%= submit_tag "Search", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<script>
function getTodayCounts() {
  <% @today_counts.each do |c|  %> 
    var curr_selector = $('#today_count_' + '<%= c.food_id %>');
    curr_selector.html('0');
  <% end %> 
  <% @today_counts.each do |c|  %> 
    var count = 0;
    var curr_selector = $('#today_count_' + '<%= c.food_id %>');
    count = parseInt( curr_selector.html() );
    count += parseInt( <%= c.count %> );
    curr_selector.html(count);
  <% end %> 
  console.log('updateTodayCounts called');
  }
getTodayCounts();

function getWeekCounts(){
  $('#week_counts_body').html("");
  <% 
    weekly_user_dollars = weekly_dollars_by_user
    weekly_user_dollars.each do |hash| 
      id = hash.keys.join
      dollars = hash.values.join
      user = User.find_by_id(id)
  %>
    $('#week_counts_body').append('<tr><td><%= user.fname %></td><td class="weekly_dollars" width="100"><%= money_without_cents_and_with_symbol(dollars) %></td></tr>');
  $('.weekly_dollars').each( function(){
    if( <%= dollars %> > 50 ){
      $(this).addClass('danger')
    }
  });
  <% end %>
}
getWeekCounts();

function getYesterdayTopCounts(){
  $('#top_yesterday_waste_body').html("");
  <% 
    yesterday_top_waste = yesterday_top_waste_dollars
    yesterday_top_waste.each do |hash| 
      id = hash.keys.join
      dollars = hash.values.join
      food = Food.find_by_id(id)
  %>
    $('#top_yesterday_waste_body').append('<tr><td><%= food.name.titleize %></td><td class="yesterday_top_waste" width="100"><%= money_without_cents_and_with_symbol(dollars) %></td></tr>');
  $('.weekly_dollars').each( function(){
    if( <%= dollars %> > 50 ){
      $(this).addClass('danger')
    }
  });
  <% end %>
}
getYesterdayTopCounts();
</script>
