<table class="table">
  <tr>
    <th>WRIN</th>
    <th>Name</th>
    <th>Price</th>
    <th>Type:</th>
    <th>Created by:</th>
  </tr>
      <tr>
        <td><%= @food.wrin %></td>
        <td><%= @food.name %></td>
        <td><%= humanized_money_with_symbol(@food.price) %></td>
        <td><%= @food.food_type.titlecase %></td>
        <td><%= @food.user.fname %></td>
      </tr>
</table>
